@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --triton-dark: #0A0A0A;
  --triton-gray: #1F1F1F;
  --triton-red: #DF1F26;

}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-triton-dark: var(--triton-dark);
  --color-triton-gray: var(--triton-gray);
  --color-triton-red: var(--triton-red);
  --font-sans: var(--font-montserrat);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}