@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --triton-dark: #0A0A0A;
  --triton-gray: #1F1F1F;
  --triton-red: #FF3B30;

}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-triton-dark: var(--triton-dark);
  --color-triton-gray: var(--triton-gray);
  --color-triton-red: var(--triton-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}