@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --triton-dark: #0a0a0a;
  --triton-gray: #1f1f1f;
  --triton-red: #df1f26;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-triton-dark: var(--triton-dark);
  --color-triton-gray: var(--triton-gray);
  --color-triton-red: var(--triton-red);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

button {
  cursor: pointer;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(223, 31, 38, 0.3);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(223, 31, 38, 0.6);
  }
}
